<!DOCTYPE html>
<html lang="ko">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>

    <body>
        <header>
        </header>
        <nav>
        </nav>
        <main>
            <article id="main-bg">
                <div id="insta-container" >
                    <img src="../img/icon/main_icon_insta.png">
                    <div>
                        <p>에서 찾은</p>
                        <p>세상의 모든</p>
                        <strong><p class="social-text">음식 해시테그</p></strong>
                    </div>
                    
                </div>
                
                <div id='search-form'>
                    <form>
                        <input type="search" placeholder="언급량 추이가 궁금한 분석어를 입력하세요.">
                        <input type="image" src="../img/icon/search.png" alt="검색 버튼">
                    </form>
                </div>
                <div class="main-food">
                    <div>
                        <h3>시장 모니터링</h3>
                        <p>왜 사람들은 특정 브랜드를<br>많이 이야기하고 있을까?</p>
                        <a href="#none">바로가기 &#62;</a>
                    </div>

                    <div>
                        <h3>브랜드 평판 보기</h3>
                        <p>사람들이 느끼는 이미지부터<br>관련 있는 단어까지 궁금하다면?</p>
                        <a href="#none">바로가기 &#62;</a>
                    </div>

                    <div>
                        <h3>경쟁 제품 비교하기</h3>
                        <p>경쟁 제품은 어떤 부분이 비슷하고<br>어떤 부분이 다를지 궁금하다면?</p>
                        <a href="#none">바로가기 &#62;</a>
                    </div>

                </div>
            </article>
            <article id="main-content">
                <section>
                    <h1>실시간 음식 토픽</h1>
                    <table>
                        <tr>
                          <th>8월 14일 토요일</th>  
                        </tr>
                        <tr>
                            <td>1 코로나 신규</td>
                        </tr>
                        <tr>
                            <td>1 코로나 신규</td>
                        </tr>
                        <tr>
                            <td>1 코로나 신규</td>
                        </tr>
                        <tr>
                            <td>1 코로나 신규</td>
                        </tr>
                        <tr>
                            <td>1 코로나 신규</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                          <th>8월 15일 일요일</th>  
                        </tr>
                        <tr>
                            <td>1 아이티</td>
                        </tr>
                        <tr>
                            <td>1 아이티</td>
                        </tr>
                        <tr>
                            <td>1 아이티</td>
                        </tr>
                        <tr>
                            <td>1 아이티</td>
                        </tr>
                        <tr>
                            <td>1 아이티</td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                          <th>8월 16일 월요일</th>  
                        </tr>
                        <tr>
                            <td>1 안철수대표</td>
                        </tr>
                        <tr>
                            <td>1 안철수대표</td>
                        </tr>
                        <tr>
                            <td>1 안철수대표</td>
                        </tr>
                        <tr>
                            <td>1 안철수대표</td>
                        </tr>
                        <tr>
                            <td>1 안철수대표</td>
                        </tr>
                    </table>
                </section>
                <section class="main-ai">
                    <h1 class="margin-t">AI가 전하는 트렌드 분석</h1>
                    
                    <div class="main-ai-ul">
                        <ul>
                            <li><a href="#none">메거진</a></li>
                            <li><a href="#none">AI이슈 리포트</a></li>
                            <li><a href="#none">AI여행 리포트</a></li>
                        </ul>
                    </div>
                    
                    
                    <div class="main-ai-container">
                        <div class="card">
                            <a href="#none">
                                
                                <img src="../img/food/food_1.JPG">
                                <p>#SOME LIFE</p>
                                <p>인기 있는 제육볶음</p>
                            </a>
                        </div>
                        <div class="card">
                            <a href="#none">
                                <img src="../img/food/food_2.JPG">
                                <p>#SOME LIFE</p>
                                <p>인기 있는 제육볶음</p>
                            </a>

                        </div>
                        <div class="card">
                            <a href="#none">
                                <img src="../img/food/food_3.JPG">
                                <p>#SOME LIFE</p>
                                <p>인기 있는 제육볶음</p>
                            </a>

                        </div>
                        <div class="card">
                            <a href="#none">
                                <img src="../img/food/food_4.JPG">
                                <p>#SOME LIFE</p>
                                <p>인기 있는 제육볶음</p>
                            </a>

                        </div>
                    </div>
                </section>
            </article>

        </main>
        <footer>
        </footer>
        <script src="../js/script.js"></script>
        <script>
            init();
        </script>
    </body>
</html>