<!DOCTYPE html>
<html lang="ko">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>

    <body>
        <header>
        </header>
        <nav>
        </nav>
        <aside></aside>
        <main id="rankContainer">
            <table>
                <caption>맛집랭킹</caption>
                <tr>
                    <td>#</td>
                    <td>상호명</td>
                    <td>지역</td>
                    <td>사진</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>초장집</td>
                    <td>사창동</td>
                    <td><img src="../img/cafe/cafe1.jpg" alt="X"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>투썸플레이스</td>
                    <td>가경동</td>
                    <td><img src="../img/cafe/cafe2.jpg" alt="X"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>화룡</td>
                    <td>복대동</td>
                    <td><img src="../img/cafe/twosome.jpg" alt="X"></td>
                </tr>
            </table>

            <table>
                <caption>음식랭킹</caption>

                <tr>
                    <td>#</td>
                    <td>상호명</td>
                    <td>지역</td>
                    <td>사진</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>크로플</td>
                    <td>디저트</td>
                    <td><img src="../img/food/food_1.JPG" alt="X"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>파스타</td>
                    <td><img src="../img/food/food_2.JPG" alt="X"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Larry the Bird</td>
                    <td>분식</td>
                    <td><img src="../img/food/food_3.JPG" alt="X"></td>
                </tr>
            </table>
        </main>
        <footer>
        </footer>
        <script src="../js/script.js"></script>
        <script>
            init();
        </script>
    </body>
</html>